@{
    ViewBag.Title = "用户管理";
}

<div class="layui-form">
    <blockquote class="layui-elem-quote quoteBox">
        <div class="layui-form">
            <div class="layui-inline">
                <div class="layui-input-inline">
                    <input type="text" id="usersname" placeholder="请输入用户帐号或姓名" class="layui-input" maxlength="15" />
                </div>
            </div>
            <div class="layui-inline">
                <button class="layui-btn search_btn" id="btnSearch">查询</button>
            </div>
            <div class="layui-inline">
                <button class="layui-btn layui-btn-normal" id="btnAdd">添加</button>
            </div>
        </div>
    </blockquote>
    <table id="layerTables" lay-filter="layerTables"></table>
</div>

@section Scripts {
    @Html.Script("~/Areas/system/Controljs/Users/index.js")
}